@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #1F1717;
    --cor-secundária: #FCF5ED;
    --cor-terciária: #F4BF96;
    --cor-hover: #583c3c;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundária);
}

.tituloDestaque {
    color: var(--cor-terciária);
}

.cabecalho {
    padding: 2% 0 0 13.1%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciária);
    text-decoration: none;
    border-radius: 8px;
    padding: 10px;
    transition: color 0.3s ease;
}

.cabecalho__menu__link:hover {
    color: var(--cor-hover);
    transition: color 0.3s ease;
}

.apresentacao {
    padding: 0% 8% 1.39% 13.1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 715px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apresentacao__conteudo__titulo {
    font-size: 28px;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__texto {
    padding: 20px 0px;
    font-size: 20px;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links_link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciária);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundária);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.apresentacao__links_link:hover {
    background-color: var(--cor-hover);
    transition: background-color 0.3s ease;
}

.apresentacao__foto {
    width: 450px;
    height: auto;
    border-radius: 40px;
    position: relative;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciária);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}